DATABASE_URL=
PORT=
DB_CA_CERT=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=G
GOOGLE_REDIRECT_URI=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
NODE_ENV=

FRONTEND_URL=

SEPAY_ENV=
SEPAY_MERCHANT_ID=
SEPAY_SECRET_KEY=
SEPAY_CHECKOUT_URL=

SEPAY_SUCCESS_URL=
SEPAY_ERROR_URL=
SEPAY_CANCEL_URL=
SEPAY_IPN_URL=

SEPAY_FRONTEND_REDIRECT_URL=